@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #000100;
  color: #fff;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding-top: 110px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: code;
    src: url('code.otf');
}

.title {
  font-family: code;
  letter-spacing: 0.4em;
  line-height: 40px;
  padding-left: 20px;
  font-size: 24px;
}

center {
  font-size: 24px;
}

.light-title {
  color: #000;
}

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1030;
}

.light-menu {
    background-color: #fff;
    color: #000;
}

.item-menu {
  padding: 0 10px;
}

.last-child-menu {
  padding-right: 40px;
}

#menu-center {
  margin: 0 auto;
}

#menu-center ul {
}

#menu-center ul li {
    list-style: none;
    display: inline;
}

.menu-link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  opacity: .8;
}

.light-menu-link {
  color: #000;
  opacity: .8;

}

.light-menu-link:hover {
  font-weight: bold;
}

.menu-link:hover {
  font-weight: bold;
}

.active {
  font-weight: bold;
}


.space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.space-between li {
  line-height: 70px;
}

.flex-container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.subtitle {
  text-align: center;
}

.description {
  position: relative;
  top: -40px;
}

#home {
  background-color: #000100;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

hr {
  margin: 70px;
}

#vision {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

#useCase {
  height: 100vh;
  width: 100%;
  text-align: center;
}
#about {
  height: 100vh;
  width: 100%;
  text-align: center;
}
#contact {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.footer {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 24px;
  color: rgba(255, 255, 255, 0.541176);
  width: 100%;
  min-height: 100px;
}
